* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  background: #f0f0f3;
}

img {
  display: block;
  max-width: 100%;
}

header {
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  padding: 16px 27px;
  background-color: #f5f5f7;
  svg {
    transform: translate(0, 1.5px);
  }
  a {
    color: #0071e3;
    text-decoration: none;
  }
}

#home {
  display: grid;
  position: relative;
  background-image: // linear-gradient(
    //  50deg,
   //   rgba(0, 0, 0, 0.85) 20%,
   //   rgba(0, 0, 0, 0.35) 37%,
   //   rgba(0, 0, 0, 0.05) 40%,
   //   rgba(0, 0, 0, 0) 0%
   // ),
    url(autobg.png);
  background-repeat: no-repeat;
  padding: 5%;
  background-size: cover;
  background-position: center;
  padding: 5vw;
  height: 75vh;
  .heading {
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
    h3 {
      font-size: 2.2rem;
      font-weight: 600;
      text-align: left;
      line-height: 1.2;
      letter-spacing: 0.2px;
    }
    h6 {
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
      margin-top: 19px;
      color: #fff;
    }
  }

  .content {
    .buttons-container {
      grid-area: buttons;
      display: flex;
      flex-direction: column;
    }
    h6 {
      font-size: 23px;
      font-weight: 600;
      line-height: 29px;
      text-align: center;
      margin-bottom: 9px;
    }
    position: absolute;
    bottom: 22px;
    left: 14%;
    color: white;
    display: flex;
    flex-direction: column;
    .content-grid {
      display: grid;
      grid-template-columns: 278px 1fr;
      gap: 23px;
      span {
        color: #8d8d8d;
      }
      h5 {
        color: #ffffffad;
        font-size: 11px;
        font-weight: 500;
        line-height: 13.13px;
        text-align: left;
      }
    }
    h2 {
      font-size: 33px;
      font-weight: 700;
      line-height: 40px;
      text-align: center;
    }
    h4 {
      font-size: 13px;
      font-weight: 500;
      line-height: 15.51px;
      letter-spacing: 0.04em;
      text-align: center;
      color: #8d8d8d;
      margin: 12px 0;
    }
    img {
      width: 135px;
      height: 38px;
    }
    .pp {
      font-size: 15px;
      font-weight: 400;
      line-height: 17.9px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #d9d9d9;
      grid-area: text;
      position: relative;
      bottom: 22px;
    }
    .pp-container {
      max-width: 910px;
    }
    .scocon {
      align-self: end;
    }
  }
  .buttons-container {
    margin-top: 9px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "reservieren  speisekarte";
    gap: 10px;
    position: relative;
    button {
      display: inline-block;
      border-radius: 5px;
      padding: 15px 0px;
      p {
        font-weight: 450;
      }
    }
    .btn1 {
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      cursor: pointer;
      position: relative;
      transition: all 0.2s ease;
      backdrop-filter: blur(72.4px);
      z-index: 3131;
      a {
        text-decoration: none;
      }
      &:hover {
        background-color: #f0f0f0f1;
      }
    }
    .reserve {
      background-color: #007af5;
      border: 1px solid #007af5;
      p {
        color: #fff;
      }
      &:hover {
        background-color: #0074e8;
      }
    }
    p {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.04em;
      text-align: center;
      color: #222222;
    }
  }
}

#aboutSection {
  margin: 32px 0 0 14%;

  hr {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: #d2d2d7; /* Set the background color */
    margin: 18px 0; /* Optional: Adjust margins as needed */
    margin: 18px 14% 0 0;
  }

  h5 {
    color: #252525;
    font-size: 1rem;
    font-weight: 700;
    line-height: 21.48px;
    text-align: left;
    margin-bottom: 10px;
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-shrink: 0;
    .aboutButton {
      width: 304px;
      height: 145px;
      background-color: #fff;
      padding: 16px 18px;
      border-radius: 15px;
      h5 {
        margin-bottom: 5px;
      }
      h6 {
        color: #7f7f7f;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.01em;
        text-align: left;
      }
      p {
        padding: 0 0 0 3px;
        color: #7f7f7f;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.01em;
        text-align: left;
        margin-top: 9px;
      }
    }
  }
}

.reserve {
  grid-area: reservieren;
}

.lieferbtn {
  grid-area: lieferando;
}

.menu {
  grid-area: speisekarte;
}

.kontakt {
  grid-area: kontakt;
}

.about {
  grid-area: about;
}

.information {
  grid-area: info;
}

#footer {
  margin: 56px 0;
  background-color: #f0f0f3 !important;
  .footer-container {
    background-color: #f0f0f3 !important;
    display: grid;
    grid-template-columns: 1fr 1.4fr 0.6fr 0.6fr;
    grid-template-areas: "kontakt about info";
    margin: 0 12%;
    gap: 40px;
    a {
      color: #0071e3;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      text-decoration: none;
    }
    p {
      font-size: 0.8rem;
    }
    h5 {
      color: #252525;
      font-size: 1rem;
      font-weight: 700;
      line-height: 21.48px;
      text-align: left;
      margin-bottom: 10px;
    }
    .ih {
      margin-bottom: 29px;
    }
    .ihtext {
      margin-bottom: 11.5px;
    }
    .black {
      color: #252525;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
      margin-bottom: 2px;
    }
    .blacktwo {
      margin-bottom: 5px;
    }
    .text {
      font-weight: 400;
      line-height: 16px;
      text-align: left;
      color: #7b7b7c;
    }
    .linkblue {
      color: #0071e3;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
    }
    .tb {
      margin-bottom: 20px;
    }
  }
}

@media only screen and (max-width: 830px) {
  #home .heading {
    display: none;
  }
  .content {
    margin-left: 42px;
  }
  #home {
    background-image: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 40%,
        transparent 0%,
        #000,
        #000
      ),
      url(automobile.png);
    padding: 0;
    justify-items: center;
    align-items: end;
  }

  #home .content .buttons-container .reserve::before {
    content: "Reservieren";
    text-align: center;
    color: #000000;
    font-size: 17px;
    font-weight: 590;
    line-height: 20.29px;
    letter-spacing: 0.01em;
  }

  #home .content h4 {
    margin-bottom: 6px;
  }

  #home .content .buttons-container .menu p {
    text-align: center;
    color: #000000;
    font-size: 17px;
    font-weight: 590;
    line-height: 20.29px;
    letter-spacing: 0.01em;
  }

  #footer .footer-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "about"
      "kontakt"
      "info";
  }
  #home .buttons-container {
    grid-template-columns: 1fr 1fr;
  }

  #home .content .buttons-container .reserve p {
    display: none;
  }

  #home .content .buttons-container .reserve {
    margin-bottom: 10px;
  }

  #home .content .buttons-container .menu {
    margin-bottom: 10px;
  }

  #home .content .buttons-container .lieferbtn {
    margin-left: 0;
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #home .content {
    position: static;
    text-align: center;
    margin: 0;
    left: 0;

    justify-content: center;
    align-items: center;
  }

  #home .heading {
    position: static;
    text-align: center;
    margin: 0;
    right: 0;
  }
  #home .buttons-container button {
    padding: 14px 30px;
    border-radius: 10px;
  }
  h2,
  h4,
  img {
    text-align: center !important;
  }

  #home .content img {
    width: 152px;
    height: 43px;
  }

  #home .content h2 {
    font-size: 28px;
    line-height: 1.3;
  }

  #home .content .content-grid {
    grid-template-areas:
      "buttons"
      "text";
    width: 100%;
  }

  #home .content .content-grid .pp-container {
    margin: 12px 0 25px;
    width: 100vh !important;
    margin-right: 0;
    padding-right: 0;
  }
  #home .content .content-grid .pp-container .pp {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: left;
    width: 46vh !important;
  }
  #footer .footer-container h5 {
    font-size: 22px;
  }
  #footer .footer-container .kontakt h5,
  #footer .footer-container .informationen h5,
  #footer .footer-container .about h5 {
    margin-bottom: 23px !important;
  }
  #footer .footer-container {
    margin: 0 6%;
  }
}

@media (max-width: 1859px) {
  #photoSection .photoSectionContainer {
    overflow-x: scroll;
  }
}
