* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  overflow-x: hidden;
  width: 100%;
  background: #f0f0f3;
}

img {
  display: block;
  max-width: 100%;
}

header {
  font-weight: 350;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  padding: 16px 27px;
  background-color: #f5f5f7;
}
header svg {
  transform: translate(0, 1.5px);
}
header a {
  color: #0071e3;
  text-decoration: none;
}

#home {
  display: grid;
  position: relative;
  background-image: url(./autobg.png);
  background-repeat: no-repeat;
  padding: 5%;
  background-size: cover;
  background-position: center;
  padding: 5vw;
  height: 75vh;
}
#home .heading {
  position: absolute;
  top: 32%;
  left: 15%;
  color: white;
}
#home .heading h3 {
  font-size: 44px;
  font-weight: 600;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 0.2px;
}
#home .heading h6 {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 19px;
  color: #fff;
}
#home .content {
  position: absolute;
  bottom: 40px;
  left: 15%;
  color: white;
  display: flex;
  flex-direction: column;
}
#home .content h3 {
  display: none;
}
#home .content h6 {
  font-size: 23px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  margin-bottom: 9px;
}
#home .content .content-grid {
  display: grid;
  grid-template-columns: 288px 1fr;
  gap: 23px;
}
#home .content .content-grid span {
  color: #8d8d8d;
}
#home .content .content-grid h5 {
  color: rgba(255, 255, 255, 0.6784313725);
  font-size: 11px;
  font-weight: 500;
  line-height: 13.13px;
  text-align: left;
}
#home .content h2 {
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
#home .content h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.51px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #8d8d8d;
  margin: 12px 0;
}
#home .content img {
  width: 135px;
  height: 38px;
}
#home .content .pp {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  color: #d9d9d9;
  grid-area: text;
  position: relative;
  bottom: 33px;
}
#home .content .pp-container {
  max-width: 910px;
  margin-right: 20px;
}
#home .content .scocon {
  align-self: end;
}
#home .buttons-container {
  margin-top: 9px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "reservieren" "speisekarte";
  gap: 10px;
  position: relative;
}
#home .buttons-container button {
  display: inline-block;
  border-radius: 5px;
  padding: 15px 0px;
}
#home .buttons-container button p {
  font-weight: 450;
}
#home .buttons-container .btn1 {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  -webkit-backdrop-filter: blur(72.4px);
          backdrop-filter: blur(72.4px);
  z-index: 3131;
}
#home .buttons-container .btn1 a {
  text-decoration: none;
}
#home .buttons-container .btn1:hover {
  background-color: rgba(240, 240, 240, 0.9450980392);
}
#home .buttons-container .menu {
  background-color: #007af5;
  border: 1px solid #007af5;
}
#home .buttons-container .menu p {
  color: #fff;
}
#home .buttons-container .menu:hover {
  background-color: #0074e8;
}
#home .buttons-container p {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #222222;
}

.aboutSectionTitle {
  margin-left: 15%;
  color: #252525;
  font-size: 1rem;
  font-weight: 700;
  line-height: 21.48px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 32px;
}

#aboutSection {
  margin: 0px 12.7% 0;
}
#aboutSection h5 {
  color: #252525;
  font-size: 1rem;
  font-weight: 700;
  line-height: 21.48px;
  text-align: left;
  margin-bottom: 10px;
}
#aboutSection .aboutScrollSection {
  position: relative;
  width: 100%;
}
#aboutSection .aboutScrollSection button {
  border: none;
  cursor: pointer;
}
#aboutSection .aboutScrollSection .boxContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-shrink: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 30px;
}
#aboutSection .aboutScrollSection .boxContainer::-webkit-scrollbar {
  display: none;
}
#aboutSection .aboutScrollSection .boxContainer .aboutBox {
  min-width: 304px;
  max-width: 304px;
  height: 145px;
  background-color: #fff;
  padding: 16px 18px;
  border-radius: 15px;
}
#aboutSection .aboutScrollSection .boxContainer .aboutBox h5 {
  margin-bottom: 5px;
}
#aboutSection .aboutScrollSection .boxContainer .aboutBox h6 {
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.01em;
  text-align: left;
}
#aboutSection .aboutScrollSection .boxContainer .aboutBox p {
  padding: 0 0 0 3px;
  color: #7f7f7f;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-align: left;
  margin-top: 9px;
}

.reserve {
  grid-area: reservieren;
}

.lieferbtn {
  grid-area: lieferando;
}

.menu {
  grid-area: speisekarte;
}

.kontakt {
  grid-area: kontakt;
}

.about {
  grid-area: about;
}

.information {
  grid-area: info;
}

#footer {
  background-color: #f0f0f3 !important;
}
#footer .footerCc {
  margin: 50px 15%;
}
#footer .footerCc hr {
  border: none;
  height: 0.5px;
  background-color: #d2d2d7;
  margin: 25px 0;
}
#footer .footerCc .footer-container {
  background-color: #f0f0f3 !important;
  display: grid;
  grid-template-columns: 1fr 1.4fr 0.9fr 0.2fr;
  grid-template-areas: "kontakt about info";
  gap: 40px;
}
#footer .footerCc .footer-container a {
  color: #0071e3;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-decoration: none;
}
#footer .footerCc .footer-container p {
  font-size: 0.8rem;
}
#footer .footerCc .footer-container h5 {
  color: #252525;
  font-size: 1rem;
  font-weight: 700;
  line-height: 21.48px;
  text-align: left;
  margin-bottom: 10px;
}
#footer .footerCc .footer-container .ih {
  margin-bottom: 29px;
}
#footer .footerCc .footer-container .ihtext {
  margin-bottom: 11.5px;
}
#footer .footerCc .footer-container .black {
  color: #252525;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  margin-bottom: 2px;
}
#footer .footerCc .footer-container .blacktwo {
  margin-bottom: 5px;
}
#footer .footerCc .footer-container .text {
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #7b7b7c;
}
#footer .footerCc .footer-container .linkblue {
  color: #0071e3;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
#footer .footerCc .footer-container .tb {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1859px) {
  #photoSection .photoSectionContainer {
    overflow-x: scroll;
  }
}
@media only screen and (min-width: 1790px) {
  #aboutSection {
    margin: 0px 14% 0 !important;
  }
}
@media only screen and (min-width: 1736px) {
  #aboutSection .aboutScrollSection button {
    display: none;
  }
  #aboutSection {
    margin: 0px 13% 0;
  }
  #aboutSection .aboutScrollSection .boxContainer {
    margin: 0px;
  }
}
@media only screen and (max-width: 1580px) {
  #home .heading h3 {
    font-size: 38px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1412px) {
  #home .content .content-grid .scocon .pp-container .pp {
    bottom: 12px;
  }
}
@media only screen and (max-width: 1179px) {
  #home .content .content-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }
  #home {
    background-image: linear-gradient(to bottom, transparent 0%, transparent 40%, transparent 0%, #000, #000), url(automobile.png);
  }
  #home .heading {
    display: none;
  }
  #home .content .content-grid .scocon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home .content .content-grid .scocon .categories {
    display: none;
  }
  #home .content .content-grid .fcocon .buttons-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "speisekarte reservieren";
  }
  #home .content .content-grid .fcocon .buttons-container button {
    width: 167px;
    height: 48px;
  }
  #home .content .content-grid .fcocon h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25.92px;
    font-weight: 700;
    line-height: 30.5px;
    text-align: center;
  }
  #home .content .content-grid .fcocon h6 {
    font-size: 17.22px;
    font-weight: 400;
    line-height: 18.5px;
    text-align: center;
  }
  #home .content {
    left: 0;
    bottom: 10px;
  }
  #home .content .pp-container {
    max-width: 910px;
    margin: 0 30px;
  }
}
@media only screen and (max-width: 666px) {
  #footer .footerCc .footer-container {
    grid-template-columns: 1fr;
    grid-template-areas: "kontakt" "about" "info";
  }
  #footer .footerCc .footer-container h5 {
    font-size: 22px;
  }
  .aboutSectionTitle {
    font-size: 22px;
  }
  #footer .footerCc .footer-container .kontakt h5,
  #footer .footerCc .footer-container .information h5,
  #footer .footerCc .footer-container .about h5 {
    margin-bottom: 23px !important;
  }
}
@media only screen and (max-width: 496px) {
  #aboutSection .aboutScrollSection button {
    display: none;
  }
  #aboutSection .aboutScrollSection .boxContainer {
    margin: 0;
  }
  #aboutSection .aboutScrollSection .boxContainer .withMargin {
    margin: 0 40px 0 0;
  }
  #aboutSection {
    margin: 0px 0 0 14%;
  }
  #footer .footerCc hr {
    display: none;
  }
  #footer {
    margin-top: 34px;
  }
}/*# sourceMappingURL=App.css.map */